<div class="flex items-center justify-center py-6 glass">
  <div class="max-w-3xl w-full rounded-lg focus:shadow-lg focus:outline-none p-8" id="focus-target" tabindex="-1">

    <h1 class="text-2xl font-bold text-center">新アカウント作成</h1>
      <%= form_with model: @user, url: registration_path(resource_name), class: "space-y-4" do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

            <div class="name_field">
              <%= f.label :name, t(".name") ,class:" text-sm text-pink-400 font-bold" %>
              <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white text-lg">
                <i class="fa-solid fa-user"></i>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例)太郎 or taro", class:"bg-white border-none outline-none flex-grow text-gray-700 sm:text-lg text-base", required: true %>
              </div>
            </div>

            <div class="email_field">
              <%= f.label :email,t(".email"),class:" text-sm text-pink-400 font-bold"  %>
              <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white text-lg">
                  <i class="fa-solid fa-envelope"></i>
                  <%= f.email_field :email, autocomplete: "email", placeholder: "PC or スマホどちらでも使えます", class:"bg-white border-none outline-none flex-grow text-gray-700 sm:text-lg text-base", required: true %>
              </div>
            </div>

            <div class="prefecture_field">
              <%= f.label :prefecture,t(".prefecture"),class:" text-sm text-pink-400 font-bold" %>
              <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white text-lg">
                  <i class="fa-solid fa-city"></i>
                  <%= f.select :prefecture, User.prefecture.options, { include_blank: "選択してください" }, { class:"bg-white border-none outline-none flex-grow text-gray-700 text-sm", required: true } %>
              </div>
            </div>

            <div class="password_field">
              <%= f.label :password,t(".password"),class:" text-sm text-pink-400 font-bold"  %>
              <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white text-lg">
                  <i class="fa-solid fa-lock mr-2"></i>
                  <% if @minimum_password_length %>
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "(#{@minimum_password_length}文字以上)", class:"bg-white border-none outline-none flex-grow text-gray-700 text-md", required: true %>
                <% end %>
              </div>
            </div>

              <div class="confirmation_field">
                <%= f.label :password_confirmation,t(".password_confirmation"),class:" text-sm text-pink-400 font-bold"%>
                <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white text-lg">
                  <i class="fa-solid fa-lock mr-2"></i>
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードをもう一度" , class:"bg-white border-none outline-none flex-grow text-gray-700 text-md", required: true %>
                </div>
              </div>

              <div class="actions">
                <%= f.submit t(".signup"),class: "btn bg-gradient-diagonal border w-full my-3 mx-auto rounded-lg hover:shadow-lg hover:bg-re-gradient-diagonal" %>
              </div>
                <%= render "devise/shared/links" %>


      <% end %>

              </div>
  </div>
</div>
<div id="confirm-modal" data-controller="modal" data-modal-target="modal"></div>
