<h2>Resend confirmation instructions</h2>
<turbo-frame id="confirmation">
<%= form_with url: resend_confirmation_path, method: :post, data: { turbo_frame: "confirmation" } do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "確認メールを再送信", class:"btn btn-primary" %>
  </div>
<% end %>
</turbo-frame>

<turbo-frame id="flash_message">
  通信待ち
</turbo-frame>
