

<div class="flex flex-col justify-center items-center bg-gradient-diagonal sm:p-8 p-0 min-h-screen">

<p>このトークンをコピーして、公式LINEに送ってください</p>
<div class="token-box"><%= current_user.line_token %></div>
<button data-clipboard-text="<%= current_user.line_token %>">コピー</button>
<a href="https://line.me/R/ti/p/@YOUR_BOT_ID" target="_blank">LINEを開く</a>

<div id="profile" class="card max-w-3xl sm:w-full glass overflow-y-auto max-h-[80vh]">
    <figure class="px-4 pt-4 flex flex-col">
      <div class="avatar">
        <div class="w-24 h-24 rounded-full border-4 mx-auto mt-4 shrink-0 object-cover">
            <img class="" src="/images/onomatopoeia/アバター画像.png">
        </div>
      </div>
      <% if current_user.provider.present? %>
      <div class="badge bg-gradient-diagonal text-md max-w-sm sm:p-2 p-1 skeleton">Google連携中</div>
      <% end %>
    </figure>
    <div class="card-body items-center text-center">
        <h2 class="card-title"><%= current_user.name %></h2>
        <p class="text-base-content text-opacity-70">
            <%= current_user.email %>
            <%= current_user.prefecture %>
        </p>
        <div class="card-actions">
            <%= link_to "Eメールを編集する", edit_user_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
            <%= link_to "居住都市を編集する", edit_city_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
            <%= link_to "パスワードを編集する", reset_password_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
        </div>
                <div class="sm:my-4 my-2 sm:py-2 py-0 border-y-2 mx-auto w-full">
            <%= link_to "アカウント削除", user_registration_path, class: "text-base-content btn bg-rose-500 text-white font-bold w-full", data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除しますか" } %>
        </div>
    </div>
</div>
<div id="edit-modal" data-controller="modal" data-modal-target="modal"></div>
<div id="password-reset-modal" data-controller="modal" data-modal-target="modal"></div>
