<div class="flex justify-center items-center bg-gradient-diagonal mt-6 sm:p-8 p-4 max-w-5xl mx-auto rounded-lg">
  <div id="profile" class="card w-80 md:w-96 glass ">
    <figure class="px-10 pt-10">
      <div class="avatar">
        <div class="w-24 rounded-full border-4 mx-auto mt-4" style="background-image: url('/images/onomatopoeia/アバター画像.png')";>
            <img class="" src="/images/onomatopoeia/アバター画像.png">
        </div>
      </div>

    </figure>
    <div class="card-body items-center text-center">
        <h2 class="card-title"><%= current_user.name %></h2>
        <p class="text-base-content text-opacity-70">
            <%= current_user.email %>
            <%= current_user.prefecture %>
        </p>
        <div class="card-actions">
            <%= link_to "Eメールを編集する", edit_user_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
            <%= link_to "居住都市を編集する", edit_city_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
            <%= link_to "パスワードを編集する", reset_password_path, class: "text-base-content btn bg-white w-full", data: { turbo_stream: true } %>
        </div>
                <div class="sm:my-4 my-2 sm:py-2 py-0 border-y-2 mx-auto w-full">
            <%= link_to "アカウント削除", user_registration_path, class: "text-base-content btn bg-rose-500 text-white font-bold w-full", data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除しますか" } %>
        </div>
    </div>

  </div>
</div>
<div id="edit-modal" data-controller="modal" data-modal-target="modal"></div>
<div id="password-reset-modal" data-controller="modal" data-modal-target="modal"></div>
