<%= form_with model: @color, url: colors_path, method: :post, scope: :color,local: true, data: { turbo: false } do |f|%>
<%= render 'shared/error_messages', object: f.object %>
<div data-controller="carousel" class="swiper sm:mb-8 mb-4 sm:p-8 p-4 bg-black bg-opacity-50 z-20 h-screen overflow-y-auto">

    <div class="swiper-wrapper">
        <div id=STEP1/2 data-carousel-target="slide" class="swiper-slide  p-6 hover:shadow-lg  glass flex flex-col relative min-h-full flex-grow">
            <div class="font-maru uppercase tracking-wide text-center text-white font-bold text-4xl items-center my-4 sm:my-2">STEP 1/2</div>

            <%# sign up時の居住地を初期値にセット %>
            <%= f.hidden_field :city, id: "city", value: @city, class: "hidden", required: true %>
            <div id="weather_image" class="max-w-full w-full overflow-x-auto rounded-xl shadow-lg mx-auto overflow-x-auto">
            <%= render "shared/weather_card" %>
            <div class="flex justify-between mt-4">
                <button
                    class="swiper-button-next-custom absolute hidden sm:flex fixed right-0 top-1/2 flex -translate-y-1/2 transform text-cyan-400 bg-gray-800 hover:bg-white rounded-full p-2 focus:outline-none">
                    <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </button>
            </div>
            </div>
            <%# 天気カードから取得したパラメーター %>
            <div class="hidden_fields">
                <%= f.hidden_field :weather_name, id: "weather_name" %>
                <%= f.hidden_field :description, id: "description" %>
                <%= f.hidden_field :temperature, id: "temperature" %>
                <%= f.hidden_field :temp_max, id: "temp_max" %>
                <%= f.hidden_field :temp_min, id: "temp_min" %>
                <%= f.hidden_field :weather_pressure, id: "weather_pressure" %>
                <%= f.hidden_field :weather_icon, id: "weather_icon" %>
            </div>

        <div>
            <%= render "shared/cards" %>
            <%= f.hidden_field :mood, id: "selected-mood", required: true %>
            <%= f.hidden_field :mood_level, id: "mood_level" %>
        </div>
        </div>

    <div id="STEP2/2" data-carousel-target="slide" class="swiper-slide glass mx-auto text-center hover:shadow-xl my-4">
    <div class="font-maru uppercase tracking-wide text-center text-white font-bold text-4xl items-center my-4 sm:my-2">STEP 2/2</div>

        <%= f.hidden_field :color_name, id: "color_name", required: true %>
        <div class="">
            <div id="display-confirmation" class=""></div>
            <button type="button" id="generate-colors" class="mt-4 font-maru bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl">セルフカラーを生成する</button>
        </div>

        <div class="">
            <div id="color-suggest" class="flex justify-center items-center space-x-4 mt-4"></div>
        </div>
<%=f.submit class: "glass mt-4 bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl", data: { action: "click->loading#show" } %>

                <button
                    class="swiper-button-prev-custom absolute hidden sm:flex left-0 top-1/2  -translate-y-1/2 transform text-cyan-400 bg-gray-800 hover:bg-white rounded-full p-2 focus:outline-none">
                    <svg class="w-12 h-12 rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </button>

    </div>
    <% end %>
</div>
</div>
