<%= form_with model: @color, url: colors_path, method: :post, scope: :color,local: true, data: { turbo: false } do |f|%>
<%= render 'shared/error_messages', object: f.object %>
<%# formステップ1エリア %>
<div class="STEP1 glass rounded-lg my-5 p-6 hover:shadow-xl">
    <p  class="font-bold text-center ">STEP1: 外部環境の設定<span class="text-xs text-red-600">
      (ご登録いただいた居住地を基に現在の天気情報をセットしています)</span></p>
    <%# sign up時の居住地を初期値にセット %>
    <%= f.hidden_field :city, id: "city", value: @city, class: "hidden", required: true %>
    <%# お天気カードUI %>
    <div id="display-weather" class="my-4"></div>
    <%# 天気カードから取得したパラメーター %>
    <div class="hidden_fields">
      <%= f.hidden_field :weather_name, id: "weather_name" %>
      <%= f.hidden_field :description, id: "description" %>
      <%= f.hidden_field :temperature, id: "temperature" %>
      <%= f.hidden_field :temp_max, id: "temp_max" %>
      <%= f.hidden_field :temp_min, id: "temp_min" %>
      <%= f.hidden_field :weather_pressure, id: "weather_pressure" %>
      <%= f.hidden_field :weather_icon, id: "weather_icon" %>
    </div>
</div>
<%# formステップ2エリア %>
<div class="STEP2 glass mx-auto text-center hover:shadow-xl my-4">
  <h2 class="text-lg font-bold text-gray-800 mb-4">STEP2: 今の気分を選んでください</h2>

  <div class="grid grid-flow-col justify-between gap-4 w-full mx-auto p-6">
<%# ワクワクcard %>
    <button type="button" class="flip-card neumorphism w-72 h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ワクワク">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ワクワクfront.png');">
                <span class="text-white text-lg font-bold">ワクワク</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ワクワクback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# ムカムカcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ムカムカ">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ムカムカfront.jpg');">
                <span class="text-white text-lg font-bold">ムカムカ</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ムカムカback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# モヤモヤcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="モヤモヤ">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/モヤモヤfront.jpg');">
                <span class="text-white text-lg font-bold">モヤモヤ</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/モヤモヤback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# ホッとcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ホッと">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ホッとfront.jpg');">
                <span class="text-white text-lg font-bold">ホッと</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ホッとback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# その他card %>
    <button type="button" id="other-mood-button" class="mood-button neumorphism bg-secondary-content text-gray-800 p-4 rounded-lg font-bold w-72 h-80" data-mood="その他">
    その他
    </button>
    </div>

    <!-- その他の気分入力欄（デフォルトで非表示） -->
  <div id="other-mood-input-container" class="hidden m-4 p-4 text-center rounded-lg">
    <input type="text" id="other-mood-input" class="p-4 rounded-lg font-bold glass focus:outline-none" placeholder="気分を入力してください">
  </div>
    <input type="hidden" id="selected-mood" name="mood">
    <button type="button" id="generate-colors" class="glass mt-4 bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl">色を生成する</button>
</div>

<div class="STEP3 glass mx-auto text-center hover:shadow-xl my-4">
  <h2 class="text-lg font-bold text-gray-800 mb-4">STEP3: 生成されたカラーボールを選択して登録してください</h2>
  <div id="color-suggest" class="flex justify-center items-center space-x-4 mt-4">
  </div>
  <%= f.hidden_field :color_name, id: "color_name", required: true %>
  <%=f.submit class: "glass mt-4 bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl" %>
</div>
<% end %>
