<%= form_with model: @color, url: colors_path, method: :post, scope: :color,local: true, data: { turbo: false } do |f|%>
<%= render 'shared/error_messages', object: f.object %>
<div data-controller="carousel" class="swiper h-[800px]" >
<div class="swiper-wrapper">
<%# formステップ1エリア %>
<div id=STEP1 data-carousel-target="slide" class="swiper-slide  p-6 hover:shadow-lg relative glass">
<%# sign up時の居住地を初期値にセット %>
<%= f.hidden_field :city, id: "city", value: @city, class: "hidden", required: true %>
<%# お天気カードUI %>
<div id="display-weather"></div>

<%# 天気カードから取得したパラメーター %>
<div class="hidden_fields">
<%= f.hidden_field :weather_name, id: "weather_name" %>
<%= f.hidden_field :description, id: "description" %>
<%= f.hidden_field :temperature, id: "temperature" %>
<%= f.hidden_field :temp_max, id: "temp_max" %>
<%= f.hidden_field :temp_min, id: "temp_min" %>
<%= f.hidden_field :weather_pressure, id: "weather_pressure" %>
<%= f.hidden_field :weather_icon, id: "weather_icon" %>
</div>
<div class="flex justify-between mt-4">
<button class="swiper-button-next-custom absolute right-0 top-1/2 flex -translate-y-1/2 transform justify-between text-cyan-400"><i class="fa-solid fa-arrow-right fa-beat-fade text-5xl block mr-5" style="color: #FFD43B;"></i></button>
</div>


</div>


<%# formステップ2エリア %>
<div id="STEP2" data-carousel-target="slide" class="swiper-slide glass mx-auto text-center hover:shadow-xl my-4">
  <h2 class="text-lg font-bold text-gray-800 mb-4">STEP2: 今の気分を選んでください</h2>

  <div class="grid grid-flow-col justify-between gap-4 w-full mx-auto p-6">
<%# ワクワクcard %>
    <button type="button" class="flip-card neumorphism w-72 h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ワクワク">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ワクワクfront.png');">
                <span class="text-white text-lg font-bold">ワクワク</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ワクワクback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# ムカムカcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ムカムカ">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ムカムカfront.jpg');">
                <span class="text-white text-lg font-bold">ムカムカ</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ムカムカback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# モヤモヤcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="モヤモヤ">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/モヤモヤfront.jpg');">
                <span class="text-white text-lg font-bold">モヤモヤ</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/モヤモヤback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# ホッとcard %>
    <button type="button" class="flip-card neumorphism w-72  h-80 perspective relative bg-none border-none rounded-lg shadow-lg  bg-transparent p-0 mood-button" data-mood="ホッと">
        <div class="flip-card-inner transition-transform transform-style preserve-3d relative w-full h-full">
            <!-- 表面 -->
            <div class="flip-card-front absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center" style="background-image: url('/images/onomatopoeia/ホッとfront.jpg');">
                <span class="text-white text-lg font-bold">ホッと</span>
            </div>
            <!-- 裏面 -->
            <div class="flip-card-back absolute w-full h-full rounded-lg shadow-lg bg-cover bg-center flex items-center justify-center rotate-y-180 font-bold"
                style="background-image: url('/images/onomatopoeia/ホッとback.jpg');">
                <span class="text-white text-lg font-bold">この気分を選択中</span>
            </div>
        </div>
    </button>
<%# その他card %>
    <button type="button" id="other-mood-button" class="mood-button neumorphism bg-secondary-content text-gray-800 p-4 rounded-lg font-bold w-72 h-80" data-mood="その他">
    その他
    </button>
    </div>

    <!-- その他の気分入力欄（デフォルトで非表示） -->
    <div id="other-mood-input-container" class="hidden m-4 p-4 text-center rounded-lg">
        <input type="text" id="other-mood-input" class="p-4 rounded-lg font-bold glass focus:outline-none" placeholder="気分を入力してください">
    </div>
        <input type="hidden" id="selected-mood" name="mood">
        <button type="button" id="generate-colors" class="glass mt-4 bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl">色を生成する</button>
        <div id="color-suggest" class="flex justify-center items-center space-x-4 mt-4"></div>

<div class="flex justify-between mt-4">
  <button class="swiper-button-prev-custom absolute left-0 top-1/2 flex -translate-y-1/2 transform justify-between"><i class="fa-solid fa-arrow-left fa-fade text-5xl block mr-5" style="color: #FFD43B;"></i></button>
  <button class="swiper-button-next-custom absolute right-0 top-1/2 flex -translate-y-1/2 transform justify-between"><i class="fa-solid fa-arrow-right fa-beat-fade text-5xl block mr-5" style="color: #FFD43B;"></i></button>
</div>
</div>

<div id="STEP3" data-carousel-target="slide" class="swiper-slide glass mx-auto text-center hover:shadow-xl my-4">
    <h2 class="text-lg font-bold text-gray-800 mb-4">STEP3:登録してください</h2>
    <%= f.hidden_field :color_name, id: "color_name", required: true %>
  <button class="swiper-button-prev-custom absolute left-0 top-1/2 flex -translate-y-1/2 transform justify-between"><i class="fa-solid fa-arrow-left fa-fade text-5xl block mr-5" style="color: #FFD43B;"></i></button>
    <%=f.submit class: "glass mt-4 bg-info text-white border-none font-bold hover:shadow-xl max-w-2xl w-full px-4 py-2 rounded-2xl" %>
</div>
<% end %>

</div>

</div>
