<%= form_with model: @color, url: colors_path, method: :post, scope: :color,local: true, data: { turbo: false } do |f|%>
<%= render 'shared/error_messages', object: f.object %>

<div class="">
    <%= f.label :prefecture, t(".prefecture") %>
  <div class="field grow input flex items-center border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-blue-400 bg-white text-lg">
    <%= f.text_field :city, id: "city", value: @city, class: "bg-white border-none outline-none flex-grow text-gray-700 text-2xl font-bold", required: true %>
  </div>

</div>
<%# お天気カードUI %>
<div id="display-weather"></div>







  <%= f.hidden_field :weather_name, id: "weather_name" %>
  <%= f.hidden_field :description, id: "description" %>
  <%= f.hidden_field :temperature, id: "temperature" %>
  <%= f.hidden_field :temp_max, id: "temp_max" %>
  <%= f.hidden_field :temp_min, id: "temp_min" %>
  <%= f.hidden_field :weather_pressure, id: "weather_pressure" %>
  <%= f.hidden_field :weather_icon, id: "weather_icon" %>
<div class="text-center mt-4">
  <p class="font-bold text-base">STEP2: カラーボールを選択して「登録」を押してください</p>
</div>
<%# カラーボールform %>
<div class="color_list mb-10 pl-5">
  <div class="color_selection grid grid-flow-col mb-10 bg-content m-10 ">
      <button type="button" class="color-ball w-16 h-16 bg-red-500  rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="1"></button>
      <button type="button" class="color-ball w-16 h-16 bg-orange-500  rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="2"></button>
      <button type="button" class="color-ball w-16 h-16 bg-yellow-500  rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="3"></button>
      <button type="button" class="color-ball w-16 h-16 bg-green-500  rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="4"></button>
      <button type="button" class="color-ball w-16 h-16 bg-blue-500 rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="5"></button>
      <button type="button" class="color-ball w-16 h-16 bg-purple-500 rounded-full border-none hover:animate-bounce shadow-lg" data-color-id="6"></button>
      <button type="button" class="color-ball w-16 h-16 bg-gray-500  rounded-full border-none hover:animate-bounce shadow-lg"data-color-id="7"></button>
  </div>

<div id="display-color"></div>
<%= f.hidden_field :color_name, id: "color_name", required: true%>
<%=f.submit class: "btn btn-accent text-white rounded-full shadow-md" %>
<% end %>
