<section class="relative  text-white overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
    class="absolute inset-0 bg-cover bg-center "
            style="background-image: url('/images/ogp.png'); filter: brightness(0.8);"

    ></div>

    <div class="container mx-auto lg:px-12 px-5 py-24 md:py-32 relative z-10 lg:h-[90vh]">
    <div class="flex flex-col md:flex-row items-center justify-around">
        <div class="w-full md:w-1/2 md:mb-0 relative">
        <h1 class="text-5xl md:text-7xl font-bold mb-6 leading-tight bg-gradient-to-r from-cyan-400 via #ffff to-rose-500 inline-block text-transparent bg-clip-text">
            Color Mirror
            <br />
            <span class="text-2xl text-white">
            へようこそ!!
            </span>
        </h1>

        <p class="sm:text-xl text-sm mb-5 text-white font-bold ">
            気分を可視化できるセルフケアサービス
        </p>
        <div class="flex flex-col items-start sm:pt-8 pt-12  space-y-4">
            <div class="flex flex-col sm:flex-row items-center justify-around gap-4 my-4 max-w-36 mx-auto sm:mx-0">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-accent sm:w-full w-[300px] rounded-3xl" %>
                <% if user_signed_in? %>
                    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:"btn btn-error sm:w-full w-[300px] rounded-3xl" %>
                <% else %>
                    <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary sm:w-full w-[300px] rounded-3xl" %>

                <% end %>
            </div>
            <div class="mx-auto sm:mx-0">
                <% if current_user&.id.present?%>
                        <button type="button" id="link-google-account" data-action-type="link" class="gsi-material-button mx-auto sm:mx-0" style="width:300px">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                            <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                            </div>
                        <% if current_user.provider.present? %>
                            <span class="gsi-material-button-contents">Googleアカウントと連携中</span>
                            <i class="fa-solid fa-check fa-2xl" style="color: #63E6BE;"></i>
                            <span style="display: none;">Googleアカウントと連携中</span>
                        <% else %>
                            <span class="gsi-material-button-contents">Googleアカウントと連携する</span>
                            <span style="display: none;">Googleアカウントと連携する</span>
      <% end %>

                        </div>
                        </button>
                <% end %>
            </div>
        </div>

        </div>

        <div class="w-full md:w-2/5 md:pl-12 hidden sm:block">
        <div class="bg-white bg-opacity-10 backdrop-filter md:backdrop-blur-lg relative  rounded-xl p-8 shadow-2xl">
            <h2 class="text-2xl font-semibold mb-6">このアプリの使用方法</h2>
            <ul class="space-y-4">
            <li class="flex items-center justify-start gap-x-4">
                <span class="font-bold text-xl">①</span>
                <p class="">天気を自動で取得して、入力した気分をもとにセルフカラーを生成し、記録します。</p>
            </li>
            <li class="flex items-center justify-start gap-x-4">
                <span class="font-bold text-xl">②</span>
                <p class="">記録したデータに対しAIが分析、コメントを生成します。</p>
            </li>
            <li class="flex items-center justify-start gap-x-4">
                <span class="font-bold text-xl">③</span>
                <p class="">１週間分のデータをもとに頻度、傾向をグラフ化して表示します。</p>
            </li>
        <div class="divider divider-warning">大事なこと</div>
            <li class="flex items-center justify-start gap-x-4">
                <span class="font-bold text-xl">④</span>
                <p class="">何気なく不調だったり、言葉にしきれない感情を色で表現してみましょう、このアプリがその気持ちに寄り添います。</p>
            </li>

            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
    </div>
</section>

<div class="max-w-3xl min-h-40 space-y-6 p-4 m-8 flex flex-col mx-auto overflow-y-auto">
    <div class="grid grid-flow-col">
        <%= link_to"プライバシーポリシー", privacy_path, class:"hover:scale-110" %>
        <%= link_to"利用規約", rules_path, class:"hover:scale-110" %>
        <%= link_to "お問い合わせ", form_colors_path, class:"hover:scale-110" %>
    </div>
    <div class="text-center">
        <p class="font-bold text-lg">copyright ©︎ 2025 - ColorMirror</p>
    </div>
</div>
