<div class="flex items-center justify-center p-6 m-6  bg-base-300 min-h-screen">
  <div class="max-w-3xl w-full rounded-lg shadow-md bg-white p-8" id="focus-target" tabindex="-1">
    <h1 class="text-2xl font-bold text-center">ログイン</h1>
<%= form_with model: @user, url: user_session_path, local: true, class: "space-y-4" do |f| %>
            <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-blue-400 bg-white text-lg">
              <i class="fa-solid fa-user mr-2"></i>
              <%= f.label :name,t(".name") %><br/>
              <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "名前", class:"bg-white border-none outline-none flex-grow text-gray-700 text-2xl" %>
            </div>

            <div class="field grow input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-blue-400 bg-white text-lg">
              <i class="fa-solid fa-lock mr-2"></i>
              <%= f.label :password,t(".password")  %><br/>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"bg-white border-none outline-none flex-grow text-gray-700 text-2xl" %>
          </div>

      <div class="flex flex-col justify-start md:flex-row md:justify-between md:items-center">
        <% if devise_mapping.rememberable? %>
          <div class="field flex items-center gap-2 mb-6 md:mb-0">
            <%= f.check_box :remember_me, class: "" %>
            <%= f.label :remember_me, class: "text-md text-nowrap" %>
          </div>
        <% end %>
      </div>
        <div class="actions">
          <%= f.submit "ログイン",class: "btn btn-primary border w-full my-3 mx-auto rounded-lg hover:shadow-lg" %>
        </div>
        <div class="links flex flex-col justify-center items-center mr-6">
          <%= render "devise/shared/links" %>
        </div>
        <% end %>

  </div>
</div>
