<div class="flex items-center justify-center">
  <div class="sm:max-w-3xl w-full rounded-lg shadow-md focus:outline-none glass p-8" id="focus-target" tabindex="-1">
    <%# Googleアカウントで連携中のUI %>
    <% if cookies[:login_method] === "google" %>
          <h1 class="sm:text-2xl text-xl font-bold text-center">ログイン(Googleアカウント連携中)</h1>
          <%= render "shared/oauth_form" %>
          <div class="flex items-center justify-center">
            <span class="block w-full sm:max-w-40 max-w-24 border-solid border-t-2"></span>
              <div class="my-4 text-center text-md font-bold mx-2">または</div>
            <span class="block w-full sm:max-w-40 max-w-24 border-solid border-t-2"></span>
          </div>

          <%= button_to "連携を解除", unlink_google_account_path, method: :delete, data: { turbo: false , turbo_confirm: "連携を解除してもよろしいですか？"}, class: "btn bg-gradient-diagonal block mx-auto max-w-xl w-full text-gray-700 py-3 px-4  font-bold shadow-md rounded-full" %>
            <div class="mt-6 text-center text-md font-bold ">
              連携を解除してもデータは削除されません。
            </div>
   <% else %>
    <%# 連携されてないデフォルトのUI %>
    <h1 class="sm:text-2xl text-xl font-bold text-center">ログイン</h1>
<%= form_with model: @user, url: user_session_path, local: true, class: "space-y-4" do |f| %>
          <div class="name-field sm:text-lg text-base text-gray-700">
            <%= f.label :name,t(".name"),class:"p-3 "%>
            <div class="field input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white">
              <i class="fa-solid fa-user mr-2"></i>
              <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "名前", class:"bg-white border-none outline-none flex-grow text-gray-700 sm:text-2xl", required: true %>
            </div>
          </div>

          <div class="password-field sm:text-lg text-base text-gray-700">
            <%= f.label :password,t(".password"),class:"p-3"%><br/>
            <div class="field input flex items-center gap-2 border-spacing-3 border-gray-300 rounded-lg hover:shadow-lg px-4 py-2 focus-within:ring-2 focus-within:ring-pink-400 bg-white">
              <i class="fa-solid fa-lock mr-2"></i>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"bg-white border-none outline-none flex-grow text-gray-700 sm:text-2xl", required: true %>
            </div>
          </div>
      <div class="flex flex-col justify-start md:flex-row md:justify-between md:items-center">
        <% if devise_mapping.rememberable? %>
          <div class="field flex items-center gap-2 mb-6 md:mb-0">
            <%= f.check_box :remember_me, class: "peer hidden", id: "remember_me" %>
            <label for="remember_me" class="w-5 h-5 rounded-full glass flex items-center justify-center cursor-pointer peer-checked:bg-pink-400">
              <div class="w-2.5 h-2.5 bg-white rounded-full peer-checked:block hidden"></div>
            </label>
            <span class="ml-2 text-md">ログインを記憶する</span>
          </div>
        <% end %>
        <%# turbo_streamで非同期表示 %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to t(".forgot_pass"), reset_password_path, data: { turbo_stream: true }, class: "block p-1 text-center text-xs font-bold text-base-100 hover:glass" %>
        <% end %>

        <button type="button" id="link-google-account" data-action-type="link" class="btn btn-glass">Googleアカウントと連携する</button>
      </div>
        <div class="actions">
          <%= f.submit "ログイン",class: "btn bg-gradient-diagonal border w-full my-3 mx-auto rounded-lg hover:shadow-lg hover:bg-re-gradient-diagonal" %>
        </div>
        <div class="links">
          <%= render "devise/shared/links" %>
        </div>
        <% end %>
    <% end %>

  </div>
</div>
<div id="password-reset-modal" data-controller="modal" data-modal-target="modal"></div>
<div id="confirm-modal" data-controller="modal" data-modal-target="modal"></div>
