<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title><%= content_for(:title) || "ColorMirror" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# font_awesome icon設定%>
    <script src="https://kit.fontawesome.com/4ab3416db2.js" crossorigin="anonymous"></script>
    <!-- Swiper's CSS -->
    <%= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css", media: "all" %>
    <%= stylesheet_link_tag "https://unpkg.com/cal-heatmap/dist/cal-heatmap.css" %>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>

  </head>
  <body class="bg-slate-200 min-h-screen flex flex-col">
    <%= render "shared/header" %>
    <main class="flex-1 overflow-auto">
      <%= render "shared/flash_message" %>
    <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
