<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title><%= content_for(:title) || "ColorMirror" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#f472b6">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <!-- Web App Manifest -->
    <link rel="manifest" href="/images/ogp_io/site.webmanifest">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any"><!-- fallback icon -->

      <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ogp_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ogp_io/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/images/ogp_io/apple-touch-icon.png">

    <!-- Android PWA Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/images/ogp_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/ogp_io/android-chrome-512x512.png">



    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Google Fonts 読み込み -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Zen+Maru+Gothic:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# font_awesome icon設定%>
    <script src="https://kit.fontawesome.com/4ab3416db2.js" crossorigin="anonymous"></script>
    <!-- Swiper's CSS -->
    <%= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css", media: "all" %>
    <%# cal-heatmap用 cdnコード %>
    <%= stylesheet_link_tag "https://unpkg.com/cal-heatmap/dist/cal-heatmap.css" %>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>
    <%# chart.js用の cdnコード %>

  </head>
  <body class="bg-body min-h-screen overflow-auto font-maru">
    <div data-controller="loading">
      <div data-loading-target="spinner" class="fixed inset-0 z-50 flex items-center justify-center bg-white bg-opacity-60">
        <div class="h-[100px] w-[100px] flex items-center justify-center">
          <span class="loader"></span>
        </div>
    </div>
    <%= render "shared/header" %>
    <main class="flex-1">
      <%= render "shared/flash_message" %>
    <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
