<div data-controller="modal" data-modal-target="modal" data-action="click->modal#close" class="flex items-center justify-center sm:p-8 p-4 fixed inset-0 bg-black bg-opacity-50 z-20">
    <div class="flex items-center justify-center bg-gradient-diagonal rounded-xl shadow-lg sm:p-8 p-3 relative sm:max-w-3xl w-full">
        <div class="glass sm:p-8 p-4 m-4 sm:w-full max-w-md text-center">
            <%= form_with model: resource, url: registration_path(resource), html: { method: :put } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <h2>登録する<%= f.label :email, t(".email"), class:"text-pink-400 font-bold sm:text-2xl text-md" %>の編集画面</h2>
                <div class="email_field mb-4 input flex items-center gap-2 border-spacing-3 focus:outline-none focus:shadow-md rounded-full mt-4 focus-within:ring-2 focus-within:ring-pink-400">
                    <i class="fa-solid fa-envelope"></i>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "flex-grow p-2 w-full focus:outline-none rounded-full", placeholder: "メールアドレス", required: true %>
                </div>
                <div class="sm:mt-4 mt-2">
                    <%= f.submit "更新する", class: "btn bg-white opacity-70 w-full rounded-full py-3 sm:text-lg text:md" %>
                </div>
            <% end %>
        </div>
                <button type="button" data-action="click->modal#close" class="text-gray-500 hover:scale-125 sm:text-3xl text-lg absolute top-0 right-0 sm:p-4 p-2 z-20">
                    ✖️
                </button>
    </div>
</div>
